<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedulegenix1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Litte_Gallon">
        </activity>
        <activity android:name=".PersonalInfo" />
        <activity android:name=".DisplayPersonalData" />
        <activity android:name=".MainActivityCard"></activity>
        <activity android:name=".CmInchConverter"></activity>
        <activity android:name=".DisplayCardInformation" />
        <activity android:name=".Kg_lb" />
        <activity android:name=".UnitConverter" />
        <activity android:name=".unit_temp" />
        <activity android:name=".DisplaySchedules" />
        <activity android:name=".DisplayContactStore"></activity>
        <activity android:name=".Contact" />
        <activity android:name=".Schedule" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>